body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  font-family: serif;
}

#reset {
  display: none;
}

.stage {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}
.stage--op {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: #fff;
}
.stage--op .title {
  display: block;
  font-weight: bold;
  font-size: 50px;
}
.stage--op .lead {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  padding: 20px;
}
.stage--op .lead > span {
  display: inline-block;
}
.stage--op .start {
  margin-top: 20px;
  display: block;
}
.stage--main {
  display: none;
}
.stage--end {
  display: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 36px;
  text-align: center;
}

#game-start {
  display: none;
}
#game-start:checked ~ .stage--op {
  display: none;
}
#game-start:checked ~ .stage--main {
  display: block;
}
#game-start:checked ~ .stage--main .timeLimit-inner {
  animation: timeLimit-gauge 20s linear;
}
#game-start:checked ~ .stage--end {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: game-end-animation 20s;
}

.timeLimit {
  position: absolute;
  width: 100%;
  display: grid;
  padding: 20px;
  justify-content: end;
  box-sizing: border-box;
  grid-template-columns: auto 300px;
  grid-template-rows: 30px;
  column-gap: 30px;
}
@media (max-width: 600px) {
  .timeLimit {
    justify-content: start;
    grid-template-columns: 100%;
    grid-template-rows: auto 30px;
    column-gap: 0;
    row-gap: 10px;
  }
}
.timeLimit-label {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}
.timeLimit-inner {
  width: 0px;
  height: 30px;
  background-color: #1c1cd6;
  border: 1px solid #fff;
  opacity: 0.7;
}

.sky {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}
.sky .stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 82vw 2vh #FFF , 25vw 1vh #FFF , 97vw 52vh #FFF , 87vw 10vh #FFF , 83vw 23vh #FFF , 38vw 64vh #FFF , 89vw 30vh #FFF , 91vw 90vh #FFF , 93vw 45vh #FFF , 51vw 35vh #FFF , 79vw 15vh #FFF , 61vw 55vh #FFF , 64vw 90vh #FFF , 54vw 77vh #FFF , 94vw 14vh #FFF , 7vw 27vh #FFF , 32vw 28vh #FFF , 21vw 29vh #FFF , 71vw 10vh #FFF , 79vw 8vh #FFF , 59vw 77vh #FFF , 54vw 55vh #FFF , 15vw 21vh #FFF , 15vw 11vh #FFF , 80vw 94vh #FFF , 54vw 62vh #FFF , 62vw 8vh #FFF , 73vw 65vh #FFF , 46vw 77vh #FFF , 74vw 32vh #FFF , 71vw 13vh #FFF , 96vw 4vh #FFF , 14vw 12vh #FFF , 76vw 76vh #FFF , 63vw 67vh #FFF , 37vw 94vh #FFF , 42vw 12vh #FFF , 77vw 22vh #FFF , 99vw 53vh #FFF , 16vw 11vh #FFF , 94vw 4vh #FFF , 98vw 87vh #FFF , 20vw 2vh #FFF , 2vw 100vh #FFF , 57vw 85vh #FFF , 67vw 87vh #FFF , 60vw 23vh #FFF , 41vw 50vh #FFF , 56vw 37vh #FFF , 95vw 99vh #FFF , 33vw 16vh #FFF , 98vw 56vh #FFF , 29vw 6vh #FFF , 23vw 87vh #FFF , 5vw 67vh #FFF , 82vw 69vh #FFF , 15vw 65vh #FFF , 83vw 93vh #FFF , 73vw 1vh #FFF , 46vw 89vh #FFF , 8vw 83vh #FFF , 3vw 43vh #FFF , 25vw 34vh #FFF , 50vw 27vh #FFF , 21vw 23vh #FFF , 95vw 32vh #FFF , 66vw 30vh #FFF , 16vw 90vh #FFF , 38vw 18vh #FFF , 24vw 18vh #FFF , 95vw 58vh #FFF , 75vw 69vh #FFF , 80vw 2vh #FFF , 49vw 25vh #FFF , 11vw 96vh #FFF , 26vw 38vh #FFF , 13vw 81vh #FFF , 50vw 79vh #FFF , 50vw 71vh #FFF , 56vw 100vh #FFF , 60vw 96vh #FFF , 49vw 81vh #FFF , 99vw 51vh #FFF , 87vw 36vh #FFF , 65vw 2vh #FFF , 49vw 92vh #FFF , 46vw 94vh #FFF , 69vw 13vh #FFF , 41vw 65vh #FFF , 72vw 32vh #FFF , 46vw 3vh #FFF , 78vw 6vh #FFF , 99vw 24vh #FFF , 99vw 20vh #FFF , 83vw 37vh #FFF , 94vw 56vh #FFF , 63vw 67vh #FFF , 43vw 37vh #FFF , 82vw 7vh #FFF , 64vw 85vh #FFF;
}
.sky .stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 60vw 856vh #FFF , 49vw 47vh #FFF , 20vw 45vh #FFF , 73vw 53vh #FFF , 59vw 44vh #FFF , 22vw 23vh #FFF , 81vw 5vh #FFF , 68vw 96vh #FFF , 43vw 22vh #FFF , 22vw 70vh #FFF , 17vw 81vh #FFF , 13vw 79vh #FFF , 76vw 21vh #FFF , 51vw 77vh #FFF , 52vw 92vh #FFF , 72vw 59vh #FFF , 4vw 14vh #FFF , 11vw 68vh #FFF , 13vw 94vh #FFF , 18vw 85vh #FFF , 25vw 80vh #FFF , 56vw 69vh #FFF , 21vw 36vh #FFF , 23vw 15vh #FFF , 37vw 95vh #FFF , 40vw 77vh #FFF , 24vw 74vh #FFF , 82vw 38vh #FFF , 58vw 80vh #FFF , 87vw 10vh #FFF , 2vw 29vh #FFF , 23vw 22vh #FFF , 52vw 35vh #FFF , 83vw 44vh #FFF , 8vw 20vh #FFF , 71vw 74vh #FFF , 45vw 12vh #FFF , 77vw 69vh #FFF , 51vw 4vh #FFF , 8vw 88vh #FFF , 31vw 64vh #FFF , 73vw 21vh #FFF , 72vw 28vh #FFF , 87vw 40vh #FFF , 66vw 62vh #FFF , 73vw 55vh #FFF , 79vw 52vh #FFF , 15vw 32vh #FFF , 86vw 95vh #FFF , 72vw 42vh #FFF;
}
.sky .fireworks {
  position: absolute;
  top: 0px;
  z-index: 1;
  transform: translate(0 -50px);
}
.sky .target-fireworks {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #00ff0a;
  top: 30px;
  border-radius: 15px;
  z-index: 10;
  cursor: pointer;
  box-shadow: inset -2px -2px rgba(0, 0, 0, 0.4);
}
.sky .target-input {
  display: none;
}
.sky .target-input:checked ~ .target-fireworks {
  pointer-events: none;
  opacity: 0;
  cursor: unset;
  transition: opacity 0.05s ease-in;
}
.sky .target-input:checked ~ .fireworks .particlesWrap .particles {
  animation-name: particle01;
}

.particlesWrap {
  pointer-events: none;
  position: relative;
  background-color: red;
}
.particlesWrap .particles {
  position: absolute;
  width: 20px;
  height: 300px;
  left: -10px;
  background-color: #00ff0a;
  opacity: 0;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
}

#target-fireworks1 {
  left: calc(35vw - 15px);
  animation: fireworksTargetPos 8s linear infinite;
  animation-delay: -15.3s;
  filter: hue-rotate(271deg);
  transform: scale(1);
}

#fireworks1 {
  left: calc(35vw - 10px);
  animation: fireworksPos 8s linear infinite;
  animation-delay: -15.3s;
}

#target-fireworks2 {
  left: calc(87vw - 15px);
  animation: fireworksTargetPos 13s linear infinite;
  animation-delay: -17s;
  filter: hue-rotate(19deg);
  transform: scale(0.5);
}

#fireworks2 {
  left: calc(87vw - 10px);
  animation: fireworksPos 13s linear infinite;
  animation-delay: -17s;
}

#target-fireworks3 {
  left: calc(50vw - 15px);
  animation: fireworksTargetPos 8s linear infinite;
  animation-delay: -10.2s;
  filter: hue-rotate(140deg);
  transform: scale(0.5);
}

#fireworks3 {
  left: calc(50vw - 10px);
  animation: fireworksPos 8s linear infinite;
  animation-delay: -10.2s;
}

#target-fireworks4 {
  left: calc(6vw - 15px);
  animation: fireworksTargetPos 9s linear infinite;
  animation-delay: -61.2s;
  filter: hue-rotate(149deg);
  transform: scale(0.5);
}

#fireworks4 {
  left: calc(6vw - 10px);
  animation: fireworksPos 9s linear infinite;
  animation-delay: -61.2s;
}

#target-fireworks5 {
  left: calc(85vw - 15px);
  animation: fireworksTargetPos 9s linear infinite;
  animation-delay: -17s;
  filter: hue-rotate(134deg);
  transform: scale(0.5);
}

#fireworks5 {
  left: calc(85vw - 10px);
  animation: fireworksPos 9s linear infinite;
  animation-delay: -17s;
}

#target-fireworks6 {
  left: calc(72vw - 15px);
  animation: fireworksTargetPos 9s linear infinite;
  animation-delay: -71.4s;
  filter: hue-rotate(344deg);
  transform: scale(1.5);
}

#fireworks6 {
  left: calc(72vw - 10px);
  animation: fireworksPos 9s linear infinite;
  animation-delay: -71.4s;
}

#target-fireworks7 {
  left: calc(71vw - 15px);
  animation: fireworksTargetPos 13s linear infinite;
  animation-delay: -23.8s;
  filter: hue-rotate(227deg);
  transform: scale(0.5);
}

#fireworks7 {
  left: calc(71vw - 10px);
  animation: fireworksPos 13s linear infinite;
  animation-delay: -23.8s;
}

#target-fireworks8 {
  left: calc(36vw - 15px);
  animation: fireworksTargetPos 7s linear infinite;
  animation-delay: -54.4s;
  filter: hue-rotate(264deg);
  transform: scale(1);
}

#fireworks8 {
  left: calc(36vw - 10px);
  animation: fireworksPos 7s linear infinite;
  animation-delay: -54.4s;
}

#target-fireworks9 {
  left: calc(64vw - 15px);
  animation: fireworksTargetPos 7s linear infinite;
  animation-delay: -107.1s;
  filter: hue-rotate(23deg);
  transform: scale(1);
}

#fireworks9 {
  left: calc(64vw - 10px);
  animation: fireworksPos 7s linear infinite;
  animation-delay: -107.1s;
}

#target-fireworks10 {
  left: calc(88vw - 15px);
  animation: fireworksTargetPos 7s linear infinite;
  animation-delay: -34s;
  filter: hue-rotate(109deg);
  transform: scale(0.5);
}

#fireworks10 {
  left: calc(88vw - 10px);
  animation: fireworksPos 7s linear infinite;
  animation-delay: -34s;
}

#target-fireworks11 {
  left: calc(64vw - 15px);
  animation: fireworksTargetPos 8s linear infinite;
  animation-delay: -93.5s;
  filter: hue-rotate(215deg);
  transform: scale(0.5);
}

#fireworks11 {
  left: calc(64vw - 10px);
  animation: fireworksPos 8s linear infinite;
  animation-delay: -93.5s;
}

.particlesWrap:nth-of-type(1) .particles:nth-of-type(1) {
  transform: rotate(36deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(2) {
  transform: rotate(72deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(3) {
  transform: rotate(108deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(4) {
  transform: rotate(144deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(5) {
  transform: rotate(180deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(6) {
  transform: rotate(216deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(7) {
  transform: rotate(252deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(8) {
  transform: rotate(288deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(9) {
  transform: rotate(324deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(10) {
  transform: rotate(360deg);
  animation-delay: 0.1s;
}
.particlesWrap:nth-of-type(1) .particles:nth-of-type(11) {
  transform: rotate(396deg);
  animation-delay: 0.1s;
}

.particlesWrap:nth-of-type(2) .particles:nth-of-type(1) {
  transform: rotate(36deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(2) {
  transform: rotate(72deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(3) {
  transform: rotate(108deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(4) {
  transform: rotate(144deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(5) {
  transform: rotate(180deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(6) {
  transform: rotate(216deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(7) {
  transform: rotate(252deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(8) {
  transform: rotate(288deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(9) {
  transform: rotate(324deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(10) {
  transform: rotate(360deg);
  animation-delay: 0.2s;
}
.particlesWrap:nth-of-type(2) .particles:nth-of-type(11) {
  transform: rotate(396deg);
  animation-delay: 0.2s;
}

.particlesWrap:nth-of-type(3) .particles:nth-of-type(1) {
  transform: rotate(36deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(2) {
  transform: rotate(72deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(3) {
  transform: rotate(108deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(4) {
  transform: rotate(144deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(5) {
  transform: rotate(180deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(6) {
  transform: rotate(216deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(7) {
  transform: rotate(252deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(8) {
  transform: rotate(288deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(9) {
  transform: rotate(324deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(10) {
  transform: rotate(360deg);
  animation-delay: 0.3s;
}
.particlesWrap:nth-of-type(3) .particles:nth-of-type(11) {
  transform: rotate(396deg);
  animation-delay: 0.3s;
}

.particlesWrap:nth-of-type(4) .particles:nth-of-type(1) {
  transform: rotate(36deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(2) {
  transform: rotate(72deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(3) {
  transform: rotate(108deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(4) {
  transform: rotate(144deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(5) {
  transform: rotate(180deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(6) {
  transform: rotate(216deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(7) {
  transform: rotate(252deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(8) {
  transform: rotate(288deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(9) {
  transform: rotate(324deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(10) {
  transform: rotate(360deg);
  animation-delay: 0.4s;
}
.particlesWrap:nth-of-type(4) .particles:nth-of-type(11) {
  transform: rotate(396deg);
  animation-delay: 0.4s;
}

@keyframes game-end-animation {
  0% {
    visibility: hidden;
    z-index: -1;
  }
  99% {
    visibility: hidden;
    z-index: -1;
  }
  100% {
    visibility: visible;
    z-index: 100;
  }
}
@keyframes timeLimit-gauge {
  0% {
    width: 100%;
    background-color: #1c1cd6;
  }
  50% {
    background-color: #1c1cd6;
  }
  100% {
    width: 0%;
    background-color: #ff5656;
  }
}
@keyframes fireworksPos {
  0% {
    top: 100vh;
  }
  100% {
    top: -200px;
  }
}
@keyframes fireworksTargetPos {
  0% {
    top: calc(100vh + 150px - 15px);
  }
  100% {
    top: -65px;
  }
}
@keyframes particle01 {
  0% {
    clip-path: circle(5px at 10px 140px);
    filter: hue-rotate(0);
  }
  50% {
    clip-path: circle(10px at 10px 100px);
  }
  95% {
    clip-path: circle(3px at 10px 10px);
    opacity: 1;
  }
  100% {
    clip-path: circle(1px at 10px 10px);
    filter: hue-rotate(360deg);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
